@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.funPage {
  // @include paddingSection;
  height: 100%;
  &__main {
    margin-top: 5rem;
  }
  &__cards {
    @include display-flex(column,space-around,center);
    margin: 1rem 0rem;
    @include desktop {
      @include display-flex(row,space-evenly,center);
    }
  }
}