@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.worklist {
  width: 100%;
  margin: 0 auto;
  @include display-flex(column,space-around,center);
  margin-top: 5rem;
  @include tablet {
    @include display-flex(column,space-evenly,center);
  }
  @include desktop {
    @include display-flex(row,space-between,center);
  }

  &__link {
    text-decoration: none;
  }
}