@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.about {
  height: 100%;
  padding: 1rem;
  @include display-flex(column,center,center);
  @include desktop {
    padding: 0rem 2rem;
    @include display-flex(row,center,center);
  }
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: bottom;
  // // to change later
  // @include desktop {
  //   background-image: url("../../assets/Images/wedgeYellow.svg");
  // }
  &__profile {
    display: none;
    @include desktop {
      display: flex;
      width: 40%;
    }
  }

  &__box {
    position: relative;
    width: 440px;
    height: 555px;

    &--inner {
      height: 100%;
      width: 100%;
      border: 1.5px solid $accent-day;
    }
    &--innerDM {
      height: 100%;
      width: 100%;
      border: 1.5px solid $font-dm;
    }
  }

  &__picture {
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    transition: 0.3s all ease;
    &:hover {
      left: 0rem;
      top: 0rem;
    }

  }
  &__profile--mobile {
    display: flex;
    position: relative;
    min-width: 100px;
    @include desktop {
      display: none;
    }
  }
  &__picture-mobile {
    display: flex;
    @include desktop {
      display: none;
    }
  }



  &__content {
    @include display-flex(column,center,flex-start);
    width: 100%;
    @include desktop {
      width: 50%;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 32px;
    margin: 1rem 0rem;

    .day {
      text-decoration: none;
      color: $accent-day;
    }
    .night {
      text-decoration: none;
      color: $accent-night;
    }
  }
}

.about--dm {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  @include desktop {
    background-image: url("../../assets/Images/wedgePurple.svg");
  }
}