@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.mainPage {
  height: 100vh;
  background-image: url("../../assets/Images/wedge.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  // to change later
  // @include paddingSection;
  // @include desktop {
  //   padding: 2rem 10rem;
  // }
  @include wide {
    // background-image: url("../../assets/Images/under-1669.svg");
  }

  &__main {
    margin-top: 5rem;
    @include display-flex(row,center,center);
    padding: 0rem 10rem;
  }

  &__left {
    width: 40%;
  }

  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 80.66px;
  }

  &__content {
    margin: 1.5rem 0rem;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
  }

  &__arrow {
    margin-top: 5rem;
  }

  &__right {
    width: 60%;
    @include display-flex(row,flex-end,flex-start);
  }

  &__illustration {

  }


}

.myWork {
  // height: 2000px;
  padding: 5rem 10rem;

  .subtitle {
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
  }
  .worklist-box {
    @include display-flex(row,center,center);
  }
}






// .mainPage-dm {
//   height: 100%;
//   background-image: url("../../assets/Images/Night-bg.svg");
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: bottom;

//   &__main {
//     height: 30%;
//     @include display-flex(row,center,center);
//   }

//   &__info {
//     width: 60%;
//     @include display-flex(column,center,center);
//     margin: 0 auto;
//     text-align: center;
//   }

//   &__subtitle {
//     font-size: 38px;
//     font-weight: 600;
//     margin-bottom: 36px;
//     margin-top: 2rem;
//   }

//   &__content {
//     line-height: 160%;
//     font-size: 18px;
//   }
// }