@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.mainPage {
  height: 100%;
  background-image: url("../../assets/Images/Day.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  &__main {
    height: 30%;
    @include display-flex(row,center,center);
  }
}