@import "./variables";

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin wide {
  @media (min-width: 1669px) {
    @content;
  }
}

// general mixins:

@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin paddingSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem 5rem;
  }
  // @include wide {
  //   padding: 2rem 10rem;
  // }
}