@import "./variables";

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin wide {
  @media (min-width: 1669px) {
    @content;
  }
}

// general mixins:

@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin paddingSection {
  max-width: 1300px;
  margin: 0 auto;
  // padding: 0rem 1rem;
  @include tablet {
    padding: 0rem 0rem;
  }
  @include desktop {
    // padding: 0rem 5rem;
  }
  @include wide {
    padding: 0rem 10rem;
  }
}


// animation

@mixin animation-cloud($name, $from, $to) {
  @keyframes float1 {
    0% { transform: translate3d(0,$from,0);}
    50% { transform: translate3d(0,$to,0);}
  }
}

@mixin animation-fly($name,$from,$to) {
  @keyframes bug1 {
    from {transform: rotate(0deg) translate(20px) rotate(0deg);}
    to {transform: rotate(-360deg) translate(20px) rotate(360deg);}
  }
  @keyframes bug2 {
    from {transform: rotate(0deg) translate(15px) rotate(0deg);}
    to {transform: rotate(360deg) translate(15px) rotate(-360deg);}
  }
}

// gradient day
@mixin backgroundGradientDay {
  background: linear-gradient(
    0deg,
    #FFFEE4,
    #FFF5D1,
    #FEEEC2,
    #FFE5B6,
    #FFE6BE,
    #FEDAD5,
  );
  }

// gradient night
@mixin backgroundGradientNight {
  background: linear-gradient(
    0deg,
    #9141E7,
    #6B4AB2,
    #5033A3,
    #5B2C8E,
  );
  }