@use "./fonts" as*;

// font variables
$font-main: 'Kumbh Sans', Arial, sans-serif;

// color variables
$background-day: #FAE09D;
$background-night: #5B2C8E;

$font-lm: #212121;
$font-dm: #EEE;
$highlight-lm: #B43B65;
$highlight-dm: #D3C7FF;

$accent-color: #5653D8;