@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.contactPage {
  height: 100%;
  &__main {
    margin-top: 5rem;
  }
  &__links {
    @include display-flex(row,center,center);
    padding: 1rem;
    margin-top: 2rem;
  }
  &__link {
    margin: 0rem 1rem;
  }
  &__img {
    height: 2rem;
  }
}