@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.card {
  border: 1.5px solid $font-lm;
  width: 300px;
  height: 375px;
  margin: 1rem 0rem;
  padding: 1.875rem;
  border-radius: 20px;
  @include display-flex(column,center,flex-start);
  transition: 0.3s all ease;
  cursor: pointer;

  &__top {
    height: 30%;
    width: 100%;
    @include display-flex(column,space-between,flex-start);
  }
  &__title {
    font-size: 32px;
    line-height: 45px;
    width: 90%;
  }

  &__desc {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    width: 90%;
  }

  &__mid {
    height: 30%;
    @include display-flex(column,flex-start,flex-start);
  }

  &__bottom {
    height: 40%;
    @include display-flex(column, flex-end,flex-start);
  }

  &__caselink {
    font-size: 25px;
  }

  &__arrow {
    transition: 0.3s all ease;
  }

  &:hover {
    color: $background-day;
    background-color: $accent-day;
    .card__arrow {
      filter: invert(92%) sepia(19%) saturate(1910%) hue-rotate(302deg) brightness(137%) contrast(99%);
      transform: translateX(0.5rem);
    }
  }
}


// DM

.card-dm {
  border: 1.5px solid $font-dm;
  width: 300px;
  height: 375px;
  margin: 1rem 0rem;
  padding: 1.875rem;
  border-radius: 20px;
  @include display-flex(column,center,flex-start);
  transition: 0.3s all ease;
  cursor: pointer;


  &__top {
    height: 30%;
    width: 100%;
    @include display-flex(column,space-between,flex-start);
  }
  &__title {
    font-size: 32px;
    line-height: 45px;
    width: 90%;
  }

  &__desc {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    width: 90%;
  }

  &__mid {
    height: 30%;
    @include display-flex(column,flex-start,flex-start);
  }

  &__bottom {
    height: 40%;
    @include display-flex(column, flex-end,flex-start);
  }

  &__caselink {
    font-size: 25px;
  }

  &__arrow {
    transition: 0.3s all ease;
    filter: invert(99%) sepia(5%) saturate(2%) hue-rotate(327deg) brightness(114%) contrast(100%);
  }

  &:hover {
    color: $background-night;
    background-color: $accent-night;
    .card-dm__arrow {
      filter: invert(26%) sepia(41%) saturate(1714%) hue-rotate(238deg) brightness(85%) contrast(105%);
      transform: translateX(0.5rem);
    }
  }
}