@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.card {
  border: 1px solid $font-lm;
  width: 160px;
  height: 160px;
  margin: 1rem 0rem;
  padding: 2rem;
  @include display-flex(column,flex-end,flex-start);
  transition: 0.3s all ease;
  cursor: pointer;

  &__inner {
    height: 83%;
    width: 100%;
    @include display-flex(column,space-between,flex-start);
  }
  &__title {
    font-size: 24px;
    line-height: 1.26em;
    width: 85%;
  }

  &__subtitle {
    font-size: 16px;
  }
  &:hover {
    color: $font-dm;
    background-color: $font-lm;
  }
}