@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.introPage {
  transition: 0.3s all ease;
  height: 100%;
  &__main {
    margin-top: 5rem;
    // height: 70%;
    // @include display-flex(column,center,center);
  }
  &__resume {
    @include display-flex(row,center,center);
    margin-top: 1.5rem;
  }

  &__btn {
    border: 1.2px solid $font-lm;
    text-decoration: none;
    padding: 0.5rem 1rem;
    line-height: 20px;
    transition: 0.3s all ease;
    &:hover {
      color: $font-dm;
      background-color: $font-lm;
    }
  }

}