@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.introPage {

  &__resume {
    @include display-flex(row,center,center);
    margin-top: 2rem;
  }

  &__btn {
    border: 1.2px solid $font-lm;
    text-decoration: none;
    padding: 0.5rem 1rem;
    line-height: 20px;
  }
}