@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.header {
  @include display-flex(row,space-between,center);
  @include paddingSection;
  // @include desktop {
  //   padding: 2rem 10rem;
  // }

  &__homeLink {
    text-decoration: none;
  }

  .nav {

    &__list {
      @include display-flex(row,flex-end,center);
    }
    &__item {
      @include display-flex(row,center,center);
      width: 6%;
      padding: 7px 0px;
      margin: 0px 32px;
      letter-spacing: 2.5px;

      &--day {
        border-bottom: 2px solid $accent-day;
      }
      &--night {
        border-bottom: 2px solid $accent-night;
      }

    }
    &__link {
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
    }
  }

  &__dmIcon img{

    &:hover {
      cursor: pointer;
    }
  }
}