@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.header {
  @include display-flex(row,space-between,center);
  @include paddingSection;
  @include desktop {
    padding: 60px 3rem 2rem 3rem;
  }

  &__homeLink {
    text-decoration: none;
  }
  &__logo {
    // display: none;
  }
  .nav {
    width: 40%;

    &__list {
      @include display-flex(row,space-around,center);
    }
    &__item {
      padding: 5px 0px;
      &--active {
        border-bottom: 3px solid $highlight-lm;
      }
    }
    &__link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__dmIcon img{
    height: 28px;
  }
}