@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

#slideoutmenu {
  width: 60vw;
  height: 100vh;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: -15px;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 9002;

  .top {
    width: 100%;
    @include display-flex(row,flex-end,center);

    .btn {
      top: 1rem;
      right: 1rem;
      position: absolute;
    }
  }
}

.menu {
  @include display-flex(column, flex-end,center);
  width: 100%;
  position: absolute;
  top: 100px;
}

#slideoutmenu.hide {
  transform: translate3d(200vw, 0, 0);

}
#slideoutmenu.show {
  transform: translate3d(40vw, 0, 0);
  overflow: hidden;
}