@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.project {
  padding: 2rem;
  .top {
    @include display-flex(row,flex-end,center);
  }
  .subsection {
    padding: 5rem 0rem;
    .content {
    @include display-flex(row,center,center);

      // LEFT SECTION
      &__left {
        width: 40%;
        @include display-flex(row,space-around,flex-start)
      }
      &__yearBox {

      }
      &__introTitle {
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
      }
      &__year {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }
      &__resp {

      }
      &__respList {

      }
      &__respItem {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
      }

      &__title {
        font-size: 28px;
        line-height: 35px;
        font-weight: 600;
      }

      // RIGHT SECTION
      &__right {
        width: 60%;
      }
      &__mainTitle {
        font-size: 38px;
        line-height: 47px;
        font-weight: 600;
      }
      &__text {
        font-size: 16px;
        line-height: 27px;

        &--bold {
          font-weight: bold;
        }
      }
    }
  }
}