@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.workPage {
  // @include paddingSection;
  height: 100%;
  &__main {
    margin-top: 5rem;
  }
  &__cards {
    @include display-flex(column,space-around,center);
    margin: 1rem 0rem;
    @include tablet {
      @include display-flex(row,space-evenly,center);
    }
    @include desktop {
      @include display-flex(row,space-around,center);
    }
  }
  .cards-top {
    @include desktop {
      width: 50%;
      @include display-flex(row,space-around,center);
    }
  }
  .cards-bottom {
    @include desktop {
      width: 50%;
      @include display-flex(row,space-around,center);
    }
  }
}