@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.workPage {
  height: 100%;
  &__main {
    margin-top: 2rem;
  }
  &__cards {
    width: 90%;
    margin: 0 auto;
    @include display-flex(column,space-around,center);
    margin-top: 5rem;
    @include tablet {
      @include display-flex(column,space-evenly,center);
    }
    @include desktop {
      @include display-flex(row,space-evenly,center);
    }
  }
  .cards-top {
    @include desktop {
      width: 50%;
      @include display-flex(row,space-around,center);
    }
  }
  .cards-bottom {
    @include desktop {
      width: 50%;
      @include display-flex(row,space-evenly,center);
    }
  }

  &__link {
    text-decoration: none;
  }
}